<%- include ("./partials/header.ejs") -%>

<h1>Home</h1>
<p><%= homeContent %></p>

<!-- using forEach() method -->
<% posts.forEach(function(post) { %>
<h1><%= post.blogTitle %></h1>
<% if(post.blogText.length>100){ %>
<p>
  <%= post.blogText.substring(0,100)+"... " %>
  <a href="/posts/<%=post._id%>">Read more</a>
</p>
<% } else{ %>
<p><%= post.blogText %></p>
<%} }); %>

<%- include ("./partials/footer.ejs" ) -%>
